{% include "./header.html" %}
{% include "./title.html" %}
 
{% load bootstrap4 %}
 
{% block content %}
<div class="container-fluid">
    <div class="d-flex flex-row justify-content-center flex-wrap align-items-start">
        <div class="card profile-card m-2">
          <div class="card-body">
            <div class="d-flex flex-column justify-content-center p-4">
                <div class="image-container mx-auto mb-4">
                 

                </div>
                <p class="mt-4 mb-1 field-heading">Email:</p>
                {%  if is_self %}
                    <h5>{{user.email}}</h5>
                {% else %}
                    {% if hide_email %}
                        <h5>**********</h5>
                    {% else %}
                        <p>{{user.email}}</p>
                    {% endif %}
                {% endif %}
                <p class="mt-4 mb-1 field-heading">Username:</p>
                <p>{{user.username}}</p>
 
            </div>
          </div>
        </div>
    </div>
</div>
 

{% endblock %}
