{% include "./header.html" %}
{% include "./title.html" %}

{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<br>
<body>
  {% load static %} <img src="{% static "nonprofit/media/donate.jpg" %}" alt="donate" style="width:40%">
  <br>
  <h1>Welcome to Me2UDonations</h1>
  <h4>Donation Platform for everyone and anyone to make a difference to the society!</h4>
</body>
</html> 
s